
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body {
    font-family: 'Rubik Doodle Shadow', sans-serif; /* Aplicar la nueva fuente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 450px;
    margin-top: 150px;
  }
  
  .todo-container {
    width: 80%; /* Ancho mayor para la sección "Cargar tarea" */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid;
    margin-bottom: 20px;
   
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000000;
  }
  li.task{
    font-weight: bold;
  }
  .input {
    margin: 20px;
    width: 60%;
    border-radius: 8px;
    padding: 8px;
  }
  
  #task-input,
  #tags-select,
  #add-task-btn,
  #delete-btn {
    width: 60%;
    padding: 8px;
    
  }
  #delete-btn{
    width: 20%;
  }

  #complete-btn{
    width: 20%;
  }
  #add-task-btn{
    width: 50%;
  }
  
  #tags-select {
    width: 20%; 
    margin-right: 9px;
  }
  
  #add-task-btn,
  #complete-btn,
  #delete-btn {
    padding: 8px;
    border-radius: 8px;
    background-color: #2a9d8f;
    color: #f1faee;
    border-color: #2a9d8f;
    cursor: pointer;
  }
  
  .task-container {
    height: 500px;
    width: 350px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid;
    text-align: center;
    margin-left: 10px; 
    margin-right: 10px; 
    overflow: hidden;
  }
  
  .contenedor-task {
    display: flex;
    justify-content: space-around;
    
  }

  .inputs{
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  h2{
    margin: 10px;
    margin-left: 30px;
  }

  #completado-container{
    border-color: greenyellow;
   border-radius: 10% black;
   
  }

  .completed-task {
    text-decoration: line-through; 
    opacity: 0.6; 
}
  